# EDA for 311 Calgary Dataset

## via import of CSV file downloaded Jan 23 2024

### Imports 
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load Data

In [2]:
service_req_df = pd.read_csv('./Data/311_Service_Requests_20240123.csv')

### Explore the dataset
---

In [3]:
service_req_df.shape

(6147620, 15)

In [3]:
service_req_df.head(1)
# service_req_df.tail()

,service_request_id,requested_date,updated_date,closed_date,status_description,source,service_name,agency_responsible,address,comm_code,comm_name,location_type,longitude,latitude,point
0,18-01017964,2018/10/17 12:00:00 AM,2020/06/24 12:00:00 AM,2020/06/24 12:00:00 AM,Closed,Phone,Roads - Traffic Signal Timing Inquiry,TRAN - Roads,NaN,SHN,SHAWNESSY,Community Centrepoint,-114.073757,50.903303,POINT (-114.073756821499 50.903303329478)

In [5]:
service_req_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6147620 entries, 0 to 6147619
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   service_request_id  object
 1   requested_date      object
 2   updated_date        object
 3   closed_date         object
 4   status_description  object
 5   source              object
 6   service_name        object
 7   agency_responsible  object
 8   address             float64
 9   comm_code           object
 10  comm_name           object
 11  location_type       object
 12  longitude           float64
 13  latitude            float64
 14  point               object
dtypes: float64(3), object(12)
memory usage: 703.5+ MB

In [4]:
# checking data types
pd.DataFrame(service_req_df.dtypes, columns=['DataType'])

                   DataType
service_request_id   object
requested_date       object
updated_date         object
closed_date          object
status_description   object
source               object
service_name         object
agency_responsible   object
address             float64
comm_code            object
comm_name            object
location_type        object
longitude           float64
latitude            float64
point                object

In [5]:
# looking for null values, sorting columns with the largest null counts to the top of the list
service_req_df.isnull().sum().sort_values(ascending=False)

address               6147620
longitude              339883
latitude               339883
point                  339883
comm_code              339823
comm_name              339796
updated_date            77829
closed_date             58711
service_name             8743
agency_responsible         60
service_request_id          0
requested_date              0
status_description          0
source                      0
location_type               0
dtype: int64

## Data Cleaning
---

In [6]:
# Dropping the addess column as it contains only Null values
service_req_df.drop(columns='address', inplace=True)

#### Examining date columns

In [9]:
# to look at rows where an update date is null, ordered by request date
service_req_df[service_req_df['updated_date'].isnull()].sort_values(by='requested_date')

,service_request_id,requested_date,updated_date,closed_date,status_description,source,service_name,agency_responsible,comm_code,comm_name,location_type,longitude,latitude,point
3313253,12-00000218,2012/01/01 08:39:10 PM,NaN,2012/01/24 01:45:43 PM,Duplicate (Closed),Phone,Z - Roads - Streetlight - Many Out Residential...,TRAN - Roads,PAN,PANORAMA HILLS,Community Centrepoint,-114.088063,51.159711,POINT (-114.088063406263 51.159711011076006)
3303534,12-00000225,2012/01/01 09:13:36 PM,NaN,2012/08/13 03:41:24 PM,Duplicate (Closed),Phone,Z - Roads - Streetlight - Many Out Residential...,TRAN - Roads,MID,MIDNAPORE,Community Centrepoint,-114.057615,50.915638,POINT (-114.057614948384 50.915638474664)
3312753,12-00000039,2012/01/01 09:56:38 AM,NaN,2012/01/01 09:56:38 AM,Closed,Phone,311 - Animal Licence Request Tracker,CS - Calgary Community Standards,RIC,RICHMOND,Community Centrepoint,-114.118422,51.029705,POINT (-114.11842246883901 51.029705434695)
3313744,12-00000045,2012/01/01 10:22:28 AM,NaN,2012/01/01 10:22:28 AM,Closed,Phone,311 - Animal Licence Request Tracker,CS - Calgary Community Standards,HUN,HUNTINGTON HILLS,Community Centrepoint,-114.066709,51.117582,POINT (-114.066709443959 51.117582291839)
3315691,12-00000048,2012/01/01 10:40:58 AM,NaN,2012/01/01 10:40:58 AM,Closed,Phone,311 - Animal Licence Request Tracker,CS - Calgary Community Standards,SDC,SUNDANCE,Community Centrepoint,-114.042049,50.901555,POINT (-114.04204857668 50.901555104863)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3158065,19-00492031,2019/06/06 11:37:05 AM,NaN,NaN,Duplicate (Open),App,Bylaw - Tree - Shrub Infraction,CS - Calgary Community Standards,WHL,WEST HILLHURST,Community Centrepoint,-114.115156,51.055059,POINT (-114.115155739639 51.055058817012)
3158675,19-00497943,2019/06/07 03:43:25 PM,NaN,2019/06/07 06:46:12 PM,Duplicate (Closed),Phone,AS - Animal at Large,CS - Calgary Community Standards,HAY,HAYSBORO,Community Centrepoint,-114.083351,50.972214,POINT (-114.08335089480701 50.972214404313)
3156158,19-00499245,2019/06/08 11:02:51 AM,NaN,NaN,Duplicate (Open),Phone,Development Compliance - Vehicle Infractions,PD - Calgary Building Services,TEM,TEMPLE,Community Centrepoint,-113.946768,51.088795,POINT (-113.946767736659 51.088794585093)
3163003,19-00506870,2019/06/10 08:29:08 PM,NaN,2019/06/10 08:33:17 PM,Closed,Other,Parks - Maintenance - WAM,CS - Calgary Parks,09Q,09Q,Community Centrepoint,-113.933857,51.023300,POINT (-113.933856934138 51.023300074168)
3163704,19-00511158,2019/06/11 03:56:19 PM,NaN,NaN,Duplicate (Open),App,Bylaw - Tree - Shrub Infraction,CS - Calgary Community Standards,SPH,SPRINGBANK HILL,Community Centrepoint,-114.208458,51.026824,POINT (-114.208458271936 51.026824120988)

In [10]:
# Based on the above nulls in the updated_date column will be ignored as not all requets get an update before being closed

In [11]:
# Check the number of rows with a time of 12:00:00 AM
service_req_df['closed_date'].str.endswith('12:00:00 AM').value_counts()
# service_req_df['requested_date'].str.endswith('12:00:00 AM').value_counts()

False    3867952
True     2220957
Name: closed_date, dtype: int64

In [12]:
# Count the occurrences of rows with '12:00:00 AM' in the 'closed_date' column
count_12_am_closed = service_req_df['closed_date'].str.endswith('12:00:00 AM').sum()

# Calculate the total number of rows
total_rows = len(service_req_df)

# Calculate the percentage of rows with '12:00:00 AM'
percentage_12_am = (count_12_am_closed / total_rows) * 100
percentage_12_am

36.12710284630475

#### converting datatypes

In [7]:
# converting requested_date, updated_date_ and closed_date to a datetime type
converted_sr_df = service_req_df  # new DF variable
converted_sr_df['requested_date'] = pd.to_datetime(service_req_df['requested_date'])
converted_sr_df['updated_date'] = pd.to_datetime(service_req_df['updated_date'])
converted_sr_df['closed_date'] = pd.to_datetime(service_req_df['closed_date'])

converted_sr_df.head(2)
# this is dropping the time part of the data but that's acceptable as roughly 1/3 has the generic 12 AM timestamp which is not usefull for this analysis

,service_request_id,requested_date,updated_date,closed_date,status_description,source,service_name,agency_responsible,comm_code,comm_name,location_type,longitude,latitude,point
0,18-01017964,2018-10-17,2020-06-24,2020-06-24,Closed,Phone,Roads - Traffic Signal Timing Inquiry,TRAN - Roads,SHN,SHAWNESSY,Community Centrepoint,-114.073757,50.903303,POINT (-114.073756821499 50.903303329478)
1,18-01094780,2018-11-12,2020-06-24,2020-06-24,Closed,App,Roads - Traffic Signal Timing Inquiry,TRAN - Roads,DAL,DALHOUSIE,Community Centrepoint,-114.158165,51.109414,POINT (-114.158164615208 51.109413833961)

In [8]:
# Dropping rows so that request date is Jan 1 2017 or later to scale down data size

# filter rows based on the request date condition
SR_201724_df = converted_sr_df[converted_sr_df['requested_date'] >= '2017-01-01']

In [9]:
# SR_201724_df.shape
SR_201724_df.info()
# SR_201724_df.head(1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3639415 entries, 0 to 6147619
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   service_request_id  object
 1   requested_date      datetime64[ns]
 2   updated_date        datetime64[ns]
 3   closed_date         datetime64[ns]
 4   status_description  object
 5   source              object
 6   service_name        object
 7   agency_responsible  object
 8   comm_code           object
 9   comm_name           object
 10  location_type       object
 11  longitude           float64
 12  latitude            float64
 13  point               object
dtypes: datetime64[ns](3), float64(2), object(9)
memory usage: 416.5+ MB

In [16]:
# checking null counts again
SR_201724_df.isnull().sum().sort_values(ascending=False)

longitude             208316
latitude              208316
point                 208316
comm_code             208256
comm_name             208231
closed_date            58612
service_name            8741
updated_date            8308
agency_responsible        56
service_request_id         0
requested_date             0
status_description         0
source                     0
location_type              0
dtype: int64

In [17]:
# checking values in status_description
SR_201724_df['status_description'].value_counts()

Closed                3522878
Open                    59917
Duplicate (Closed)      55612
Duplicate (Open)          905
TO BE DELETED             103
Name: status_description, dtype: int64

In [10]:
# droping rows with certain statuses 
exclude_statuses =  ['Duplicate (Closed)', 'Duplicate (Open)', 'TO BE DELETED']

# Filter rows based on the condition
SR_201724_df_status_filtered = SR_201724_df[~SR_201724_df['status_description'].isin(exclude_statuses)]

In [11]:
SR_201724_df_status_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3582795 entries, 0 to 6147619
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   service_request_id  object
 1   requested_date      datetime64[ns]
 2   updated_date        datetime64[ns]
 3   closed_date         datetime64[ns]
 4   status_description  object
 5   source              object
 6   service_name        object
 7   agency_responsible  object
 8   comm_code           object
 9   comm_name           object
 10  location_type       object
 11  longitude           float64
 12  latitude            float64
 13  point               object
dtypes: datetime64[ns](3), float64(2), object(9)
memory usage: 410.0+ MB

### Save DataFrame as separate CSV
---

In [ ]:
# Save the DataFrame to a CSV file
SR_201724_df_status_filtered.to_csv('service_requests_cleaned.csv', index=False)  # Set index=False to avoid saving row indices

### Adding column for requst completion time
---

In [33]:
# define function
def completion_time(row):
    return SR_201724_df_status_filtered['closed_date'] - SR_201724_df_status_filtered['requested_date']

# apply to DF
SR_201724_df_status_filtered['days_to_complete'] = SR_201724_df_status_filtered.apply(completion_time, axis=1)

MemoryError: Unable to allocate 27.3 MiB for an array with shape (3582795,) and data type int64